@import "src/assets/scss/";

#contact {
	height: 100%;
	display: flex;
	align-items: center;

	.contact-container {
		display: flex;

		.text-container {
			width: 40%;
			margin: auto;

			.intro-container {
				p {
					margin-left: 5rem;
					line-height: 2.5rem;
					@include gradient();
					white-space: normal; /* Keeps the content on a single line */
					letter-spacing: 0.15em; /* Adjust as needed */
				}
			}
		}

		.contact-form-container {
			width: 40%;
			margin: auto;
			@include flex();
			gap: 1rem;
		}
	}
}
